@import '../../styles/colors';
@import '../../styles/functions';

.primary {
  margin-top: rem(35);
  border: none;
  background: $bgButton;
  font-family: 'Schoolbell', cursive;
  border-radius: 10px;
  padding: rem(5) rem(12);
  font-size: rem(21);
  color: $purpleText;
  box-shadow: 0 6px 0 0 rgba($purpleText, 1);
  &:active {
    box-shadow: 0 0 0 0 rgba($purpleText, 1);
    transform: translateY(2px);
  }
}
.primaryDemo {
  font-size: rem(17);
  border-radius: 6px;
  min-width: rem(80);
  margin: 0 rem(8) 0;
  margin-top: rem(35);
  border: none;
  background: $bgButton;
  font-family: 'Schoolbell', cursive;
  text-align: center;
  padding: 6px;
  color: $purpleText;
  box-shadow: 0 6px 0 0 rgba($purpleText, 1);
  &:active {
    box-shadow: 0 0 0 0 rgba($purpleText, 1);
    transform: translateY(2px);
  }
}

.close {
  font-family: 'Schoolbell', cursive;
  color: $purpleText;
  font-size: rem(45);
  background: transparent;
  border: none;
  padding: rem(10);
  transform: rotate(45deg);
  height: 20px;
  line-height: 0;
}

.stop {
  border-radius: 100%;
  border: none;
  box-shadow: 0 10px 0 0 rgba($purpleText, 1);
  background: #c92b00; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #c92b00 0%,
    #913700 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #c92b00 0%,
    #913700 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #c92b00 0%,
    #913700 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: rem(160);
  height: rem(160);
  line-height: 0;
  font-family: 'Schoolbell', cursive;
  color: $bgButton;
  font-size: rem(45);

  &:active {
    box-shadow: 0 0 0 0 rgba($purpleText, 1);
    transform: translateY(2px);
  }
}
