@import '../../styles/colors';
@import '../../styles/functions';
@import '../../styles/keyframes';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .close {
    position: absolute;
    top: 20px;
    right: 10px;
  }

  &__overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    border-radius: rem(20);
    background: -moz-linear-gradient(-45deg, #f2e346 0%, #fcbd00 100%);
    background: -webkit-linear-gradient(-45deg, #f2e346 0%, #fcbd00 100%);
    background: linear-gradient(135deg, #f2e346 0%, #fcbd00 100%);

    &.isBounceAnimate {
      animation: bounceInDown 0.8s cubic-bezier(0.215, 0.51, 0.355, 1) forwards;
    }

    &.isOpacityAnimate {
      animation: opacity 0.8s linear forwards;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: rem(20);
    background: url('../../assets/img/sidebar_bg_pattern.png') repeat center
      center/7px;
    padding: rem(20) rem(50) rem(40);
    width: 100%;
    height: 100%;

    span {
      padding-top: rem(15);
      color: $purpleText;

      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .form {
      display: flex;
      justify-content: flex-start;
    }

    .primary {
      padding: rem(5) rem(25);
    }
  }

  &__profil {
    .modal__form {
      align-items: flex-end;
    }
  }
  &__score,
  &__expired {
    p {
      text-align: center;
      margin-top: rem(35);
      font-size: rem(25);
    }
  }

  &__launch {
    &.modal__wrapper {
      border-radius: 0;
      background: rgba(darken($purpleText, 20), 0.85);
      width: 100%;
      height: 100%;
    }
    .modal__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: none;
      width: 100%;
      height: 100%;
    }
    p {
      margin: 0 0 rem(80);
      color: #fcbd00;
      text-align: center;
      font-size: rem(90);
    }
  }
  &__buttons {
    display: flex;
    .primary {
      margin: 0 rem(35);
    }
  }
  &__thanks {
    text-align: center;
    margin-top: rem(35);
    font-size: rem(25);
  }
}
