#app {
  height: 100%;

  & > div {
    display: flex;
    justify-content: space-between;
    background: #4f32b6; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #4f32b6 0%,
      #5e3aba 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #4f32b6 0%,
      #5e3aba 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #4f32b6 0%,
      #5e3aba 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100%;

    .construc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: white;
      font-size: 5rem;
      background: url('../../assets/img/main_bg_pattern.png') repeat center
        center/7px;
      height: 100%;
    }
  }
}
