@import '../../styles/functions';
@import '../../styles/colors';
@import '../../styles/mediaqueries';
@import '../../styles/keyframes';

.sideRightLog {
  background: -moz-linear-gradient(-45deg, #f2e346 0%, #fcbd00 100%);
  background: -webkit-linear-gradient(-45deg, #f2e346 0%, #fcbd00 100%);
  background: linear-gradient(135deg, #f2e346 0%, #fcbd00 100%);
  animation: opacity 0.3s linear forwards;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../../assets/img/sidebar_bg_pattern.png') repeat center
      center/7px;
    width: rem(240);
    min-width: 240px;
    height: 100%;
    padding: 0 rem(25) rem(20);

    @media #{$large} {
      width: rem(250);
      min-width: 250px;
      padding: 0 rem(33) rem(20);
    }
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 1px solid $purpleText;
    padding: rem(20) 0;
    text-align: center;
    color: $purpleText;
  }

  &__party,
  &__jokers {
    border-bottom: 1px solid $purpleText;
    padding: rem(15) 0;
  }

  &__items {
    display: flex;
    align-items: center;
    padding: rem(10) 0;
    span {
      color: $purpleText;
      font-size: rem(18);
    }
    svg {
      margin-right: rem(17);
      width: 25px;
      height: 25px;
    }
  }

  svg {
    width: 30px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 174px);
  }
  &__countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/chrono.svg') no-repeat center center/180px
      180px;
    font-size: rem(55);
    color: $purpleChrono;
    width: 100%;
    height: 180px;

    span {
      display: block;
      margin-top: rem(30);
    }
  }
}
