.sideRightLog{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: #fbd64a;
  top: 0;
  right:0;
  position : fixed;
  width: 25%;
  height: 100%;
  
  & h2{
    margin : 1em 1.5em;
    font-size: 1.5em;
    border-bottom: 1px solid rgba( 0, 25, 26, 0.5);
    padding-bottom: 1em;
    text-align: center;
  }

  &__pfinish{
    border-bottom: 1px solid rgba( 0, 25, 26, 0.5);
    margin : 1em;
  }

  &__button button{
    border-radius: 12px;
    font-size : 1.5em;
    padding:0.5em 1em;
    background-color: white;
    margin: 0.9em 2.68em;
  }

  & #icons{
    margin-left: 4em;
  }
}


