@import '../../styles/functions';
@import '../../styles/colors';

.toolbar {
  width: rem(80);
  background-color: hsl(265, 100%, 18%);
  height: 100%;
  min-width: 80px;

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: rem(21) 0;
    height: 100%;

    &-top,
    &-bottom {
      display: flex;
      flex-direction: column;
    }

    &-top li a,
    &-top li span,
    &-bottom li a {
      display: flex;
      justify-content: flex-end;
      width: 64px;
      margin-bottom: rem(12);
      text-decoration: none;
      padding: rem(9);
      cursor: pointer;
    }

    &-top li {
      a {
        border-radius: 0 10px 10px 0;
        .icon {
          &__inactive {
            visibility: visible;
          }
          &__active {
            visibility: hidden;
          }
        }
      }
      .selected {
        background: -moz-linear-gradient(-45deg, #f2e346 0%, #fcbd00 100%);
        background: -webkit-linear-gradient(-45deg, #f2e346 0%, #fcbd00 100%);
        background: linear-gradient(135deg, #f2e346 0%, #fcbd00 100%);
        .icon {
          &__inactive {
            visibility: hidden;
          }
          &__active {
            visibility: visible;
          }
        }
      }
    }

    &-bottom li:last-child a {
      margin-bottom: 0;
    }
  }
}
