@import '../../styles/colors';
@import '../../styles/functions';
@import '../../styles/mediaqueries';
@import '../../styles/keyframes';

.quiz {
  display: flex;
  flex: 1;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 0 rem(28) 0 rem(20);
    flex: 1;
    @media #{$xlarge} {
      align-items: center;
    }
  }

  &__section,
  &__footer {
    width: 100%;
  }

  &__section {
    @media #{$xlarge} {
      width: 75%;
    }
  }

  &__footer {
    display: flex;
    margin-bottom: rem(40);
    justify-content: center;
    align-items: center;

    .stop {
      margin: 0 rem(20);
    }

    .primary.round {
      margin: 0 rem(20);
      padding: rem(20);
      width: rem(80);
      height: rem(80);
      border-radius: 100%;

      &:first-child {
        padding: rem(24);
      }
      &:nth-child(2) {
        padding: rem(22) rem(20);
      }

      svg {
        width: rem(40);
        height: rem(40);
      }
      &.isDisabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }

  &__title {
    margin-top: rem(50);
    font-size: rem(45);
    color: $yellowText;
    text-align: center;
    width: 100%;
  }

  &__question {
    margin-top: rem(50);
    font-size: rem(25);
    color: $yellowText;
  }

  &__breadcrumb {
    display: block;
    margin-top: rem(15);
    font-size: rem(20);
    color: $yellowText;
  }

  &__answers {
    margin-top: rem(45);
    width: 100%;
  }

  &__answer {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: rem(35);
    border-radius: 10px;
    box-shadow: 10px 10px 0 0 rgba($purpleText, 1);
    background: $bgButton;
    padding: rem(20);
    width: 100%;
    font-size: rem(23);
    color: $purpleText;
    animation: opacity 0.5s linear forwards;

    input {
      position: absolute;
      top: 17px;
      left: 20px;
      width: rem(25);
      height: rem(25);
      opacity: 0;
      z-index: 1;
      cursor: pointer;

      &:checked + label:after {
        content: '';
        position: absolute;
        top: 24px;
        left: 28px;
        background: $purpleText;
        width: rem(18);
        height: rem(18);
        border-radius: 3px;
      }
    }

    label {
      margin-left: rem(50);

      &:before {
        content: '';
        position: absolute;
        top: 20px;
        left: 24px;
        background: $bgCheckbox;
        width: rem(26);
        height: rem(26);
        border-radius: 3px;
      }
    }

    &--text {
      position: static;
      margin-top: rem(45);
      border: none;
      opacity: 1;
      width: 100%;
      height: auto;
      cursor: text;
      font-family: 'Schoolbell', cursive;
      padding: rem(20) rem(35);
    }
  }
}
